<a href="https://colab.research.google.com/github/ffreirea1988/usm/blob/pega/Carga_gastos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Nombre del archivo (se modifica mes a mes)
nmb_input = 'Cuentas TI - 092023 - Septiembre 2023.xlsx'

In [35]:
#Mes de cierre
mes = 9

In [3]:
df_2701 = pd.read_excel(f'/content/{nmb_input}', sheet_name='31112701')
df_2702 = pd.read_excel(f'/content/{nmb_input}', sheet_name='31112702')
df_2703 = pd.read_excel(f'/content/{nmb_input}', sheet_name='31112703')
df_2704 = pd.read_excel(f'/content/{nmb_input}', sheet_name='31112704')
df_2705 = pd.read_excel(f'/content/{nmb_input}', sheet_name='31112705')
df_2710 = pd.read_excel(f'/content/{nmb_input}', sheet_name='31112710')
df_2711 = pd.read_excel(f'/content/{nmb_input}', sheet_name='31112711')
df_2712 = pd.read_excel(f'/content/{nmb_input}', sheet_name='31112712')

In [4]:
#Eliminar la última fila de cada tabla (n=1)
n=1
df_2701.drop(df_2701.tail(n).index, inplace = True)
df_2702.drop(df_2702.tail(n).index, inplace = True)
df_2703.drop(df_2703.tail(n).index, inplace = True)
df_2704.drop(df_2704.tail(n).index, inplace = True)
df_2705.drop(df_2705.tail(n).index, inplace = True)
df_2710.drop(df_2710.tail(n).index, inplace = True)
df_2711.drop(df_2711.tail(n).index, inplace = True)
df_2712.drop(df_2712.tail(n).index, inplace = True)

In [5]:
#Concatenar archivos en un solo dataframe con todas las cuentas
#axis=1 unir por filas
#axis=0 unir por columnas
df = pd.concat([df_2701, df_2702, df_2703, df_2704, df_2705, df_2710, df_2711, df_2712], axis=0)

In [36]:
#Eliminar mes no cerrado:
df.drop(df[(df['Período contable'] > mes)].index, inplace=True)

In [6]:
#Revisar columnas
df.columns

Index(['Período contable', 'Texto cab.documento', 'Texto', 'Cuenta',
       'Importe en moneda local', 'Moneda local', 'Centro de coste',
       'Referencia', 'Material', 'Nombre del usuario', 'Nº documento',
       'Fecha de documento', 'Fe.contabilización', 'Importe en ML3',
       'Clase de documento', 'Orden', 'Sociedad', 'Documento compras', 'Grafo',
       'Elemento PEP', 'Importe libro mayor', 'Moneda libro mayor',
       'Tp.cambio efectivo', 'Posición', 'Ejercicio / mes',
       'Clave contabiliz.'],
      dtype='object')

In [10]:
df['Cuenta'].unique()

array([31112701., 31112702., 31112703., 31112704., 31112705., 31112710.,
       31112711., 31112712.])

In [37]:
df['Período contable'].unique()

array([1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [34]:
print(df.shape)
df.isnull().sum()
#df.dtypes

(26197, 27)

Período contable               0
Texto cab.documento           13
Texto                       1125
Cuenta                         0
Importe en moneda local        0
Moneda local                   0
Centro de coste               26
Referencia                  9660
Material                   26196
Nombre del usuario             0
Nº documento                   0
Fecha de documento             0
Fe.contabilización             0
Importe en ML3                 0
Clase de documento             0
Orden                      26197
Sociedad                       0
Documento compras          21983
Grafo                      26197
Elemento PEP               26171
Importe libro mayor            0
Moneda libro mayor             0
Tp.cambio efectivo            86
Posición                       0
Ejercicio / mes                0
Clave contabiliz.              0
Nmb_Cuenta                     0
dtype: int64

In [21]:
#Agregar nombre de cuentas:
df['Nmb_Cuenta'] = df['Cuenta'].replace({
        31112701:'Leasing Equipos',
        31112702:'Evolutivos y Correctivos',
        31112703:'Redes',
        31112704:'Data Center',
        31112705:'Licencias De Software',
        31112710:'Soporte Operacional',
        31112711:'Evolutivos Mayores',
        31112712:'Soporte de Sistemas'
        })

In [9]:
#Nombre del archivo de salida:
nmb_output = nmb_input.replace('Cuentas TI','Gastos TI')

In [ ]:
#Extraer archivo a excel
df.to_excel(nmb_output, index=False)